*{
   box-sizing: border-box;
}
body{
   margin:0;
   background-color: beige;
}
nav{
   background-color: rgb(228, 163, 78);
}
ul{
   list-style: none;
   padding: 0;
   margin: 0;
}



nav a{
   margin: 20px;
   text-decoration: none;
   width: 120px;
   background:aquamarine;
  
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

